body {
  background: linear-gradient(yellow, yellowgreen);
  text-align: center;
  padding: 30px;
}

h1 {
  color: purple;
font-size: 70px;}

h2 {
  font-size: 60px;
  color:aqua;
  padding: 20px;
}

ul {
  list-style-type: value;
  list-style-position: inside;
}

.Photos img {
  border-radius: 8px;
  width: 100%;
  margin-bottom: 15px;
}